@font-face {
    font-family: 'MO';
    src: url("/static/font/MODERNA.TTF");
}
@font-face {
    font-family: 'ANJA';
    src: url("/static/font/Anja.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'ANJA';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
}

.top{
    position:absolute;
    width:100%;
    height:5%;
    top:0%;
    left:0%;
    font-family:'MO';
    font-size:18px;
    color:#F8F8F8;
    background-color: #181818;
    border-bottom:1px solid #494949;
    display: flex;
    align-items: center;
}

.start-page{
    position:absolute;
    width:100%;
    height:95%;
    top:5%;
    left:0%;
    font-family:'MO';
    font-size:18px;
    color:#F8F8F8;
    background-color: #181818;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size:25px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.header-icon{
    margin-right:10px;
    max-width: 35px;
    max-height: 35px;
}

.header-instruct{
    font-size: 15px;
}

.header-btn{
    width:400px;
    height:50px;
    font-family:'MO';
    font-size:25px;
    color:#f8f8f8;
    background-color: rgb(60, 60, 130);
    border:none;
    margin-top: 20px;
    border-radius: 15px;
}

.left-top {
    position:absolute;
    width: 25%;
    height:20%;
    top:5%;
    left:0%;
    background-color: #181818;
    border-right: 1px solid #494949;
}

.left-bottom {
    position:absolute;
    width: 25%;
    height:75%;
    top: 25%;
    left: 0%;
    background-color: #181818;
    border-right: 1px solid #494949;
    overflow-y: scroll;
}
.left-bottom::-webkit-scrollbar {
        width: 4px;    
        /*height: 4px;*/
    }
    .left-bottpm::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 5px rgba(93,92,222,0.5);
        background: rgba(255,255,255,0);
    }
    .left-bottom::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0);
        border-radius: 0;
        background: rgba(255,255,255,0);

    }

.right-top{
    position:absolute;
    width:75%;
    height:5%;
    top:5%;
    left:25%;
    font-family: "ANJA";
    font-size: 18px;
    color:#f8f8f8;
    text-align: center;
    background-color: #1c1c1c;
    border-bottom: 1px solid #494949;
    display:flex;
    justify-content: center;
    align-items: center;
}

.right-middle{
    position:absolute;
    width:75%;
    height:68%;
    top:10%;
    left:25%;
    background-color: #1F1F1F;
    border-bottom: 1px solid #494949;
}

.right-bottom{
    position:absolute;
    width:75%;
    height:22%;
    left:25%;
    bottom:0%;
    background-color: #181818;
}

.top-icon{
    margin-left:40px;
    margin-right:10px;
    max-width: 25px;
    max-height: 25px;
}

.create-icon{
    max-width: 40%;
    max-height: 40%;
}

.send-box{
    position: absolute;
    width:90%;
    height:60%;
    left:5%;
    top:20%;
    border:#494949 2px solid;
    background-color: #1F1F1F;
    border-radius: 15px;
}
.chat-input{
    position: absolute;
    width:80%;
    height:100%;
    left:0%;
    border-radius: 15px;
    background-color: #1F1F1F;
    color: #f8f8f8;
    font-family: "ANJA";
    border:none;
    outline:none;
    padding:10px;
    resize: none;
}
.send-btn{
    position: absolute;
    width:40px;
    height:40px;
    top:10px;
    right: 10px;
    background-color: #cecece;
    border:none;
    border-radius: 12px;
    color: #333333;
    font-family: "MO";
    padding:8px;
}
.record-btn{
    position: absolute;
    width:40px;
    height:40px;
    top:10px;
    right:60px;
    background-color: rgb(60,60,130);
    border:none;
    border-radius: 12px;
    color: #f8f8f8;
    font-family: "MO";
    padding:8px;
}

.create-btn{
    width:80%;
    height:40%;
    margin-left: 10%;
    margin-top: 12%;
    background-color: rgb(60, 60, 130);
    color:#f8f8f8;
    border:none;
    font-family:'MO';
    font-size:25px;
    border-radius: 20px;
}
.create-btn:hover{
    background-color: rgba(72, 72, 177);
}
.create-btn:focus{
    outline:0;
}

.character-box{
    width:80%;
    height:50px;
    padding:10px;
    font-family: "ANJA";
    font-size: 20px;
    color: #f8f8f8;
    border:none;
    outline: 0;
    margin-left: 10%;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.character-box-selected{
    width:80%;
    height:50px;
    padding:10px;
    font-family: "ANJA";
    font-size: 20px;
    color: #f8f8f8;
    border:none;
    outline: 0;
    margin-left: 10%;
    background-color: rgb(60, 60, 130);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.delete-icon{
    max-width: 60%;
    max-height: 60%;
}

.icon{
    max-width: 90%;
    max-height: 90%;
}

.content{
    position: relative;
    width:90%;
    height:90%;
    left:5%;
    top:5%;
    overflow-y: scroll;
}
.content::-webkit-scrollbar {
        width: 6px; 
        /*height: 4px;*/
    }
    .content::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 5px rgba(100, 100, 100, 0.5);
        background: rgba(255,255,255,0);
    }
    .content::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0);
        border-radius: 0;
        background: rgba(255,255,255,0);

    }

.message{
    width:100%;
    overflow: auto;
    font-family: "ANJA";
    font-size:12px;
    /* border:#f8f8f8 1px solid; */
}
.input-text{
    width:fit-content;
    max-width: 70%;
    height:auto;
    float: right;
    right:0;
    background-color: rgb(72, 72, 177);
    padding:8px;
    border-radius: 10px;
    line-height: 24px;
    color:#f8f8f8;
    margin-bottom: 10px;
}
.response-text{
    width:fit-content;
    max-width: 70%;
    height:auto;
    float:left;
    left:0;
    background-color: rgb(214, 214, 214);
    padding:8px;
    border-radius: 10px;
    line-height: 24px;
    color:#181818;
    margin-bottom: 10px;
    margin-right: 10px;
}
.load-btn{
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    width:20px;
    height:20px; 
    border-radius: 20px;
    border:none;
}
.audio-btn{
    margin-top: 10px;
    background-color: rgba(36, 36, 36, 0);
    width:20px;
    height:20px; 
    border-radius: 20px;
    border:none;
}
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: absolute;
    width:40%;
    height:40%;
    top:30%;
    left:30%;
    font-family:'MO';
    border-radius: 15px;
    background-color: #fefefe;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.modal-title{
    position: absolute;
    width:90%;
    height:20%;
    top:0%;
    left:5%;
    display: flex;
    align-items: center;
}
.modal-bottom{
    position: absolute;
    width:90%;
    height:20%;
    bottom:0%;
    left:5%;
    margin-bottom:0%;
    margin-top:5%;
}
.close-btn {
    position: absolute;
    right:0px;
    height:50%;
    font-size: 15px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding:8px;
    background-color: rgb(72, 72, 177);
}
.close-btn:hover,
.close-btn:focus {
    background-color: #828282;
    outline:none;
}
.generate-btn{
    background-color: rgb(72, 72, 177);
    border: none;
    border-radius: 15px;
    font-family: "MO";
    color:#ffffff;
    padding:10px;
    bottom:20px;
}
.generate-btn:disabled {
    color: #828282;
    background-color: #DCDCDC;
}
.save-btn{
    background-color: rgb(72, 72, 177);
    border: none;
    border-radius: 15px;
    font-family: "MO";
    color:#ffffff;
    padding:10px;
    bottom:20px;
}
.save-btn:disabled {
    color: #828282;
    background-color: #DCDCDC;
}
.voice-input{
    position: absolute;
    width:90%;
    height:55%;
    top:20%;
    left:5%;
    border-radius: 15px;
    background-color: #e1e1e1;
    font-family: "ANJA";
    border:none;
    outline:none;
    padding:10px;
    resize: none;
}
.generating{
    position: absolute;
    bottom:20px;
    right:0px;
}