<!DOCTYPE html>
<html>

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="../static/image/icon.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="AI角色语音合成体验系统">
	<!-- Meta Keyword -->
	<meta name="keywords" content="语音合成、AI角色">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<link rel="stylesheet" href="../static/css/style.css">
	<title>CharacterVox</title>

    <script src="../static/js/api.js"></script>
    <script src="../static/js/ui.js"></script>
    <script src="../static/js/data.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
	<div class="top">
		<img class="top-icon" src="/static/img/icon.png">
		<strong>CharacterVox - Research Demo for CHI</strong>
	</div>
	<div class="left-top">
		<button class="create-btn" onclick="addCharacter()">
			<img class="create-icon" src="/static/img/add.png">
			&nbsp;Create
		</button>
	</div>
	<!-- test character -->
	<div class="left-bottom" id="characterlist">
	    <button class="character-box-selected" id="character0" onclick="changePage(0)">
			Test&nbsp;
			<!-- <img class="add_icon" src="/static/image/book.png"></img> -->
			<img class="delete-icon" src="/static/img/delete.png">
		</button>
		<!--<button class="character-box" id="character1" onclick="changePage(1)" autofocus>
			Kiki&nbsp;
			<img class="delete-icon" src="/static/img/delete.png">
		</button>-->
	</div>

	<div class="main-page">
		<div class="right-top">Test</div>
		<div class="right-middle">
			<div class="content" id="content0">
				<!-- <div class="timestamp">Start New Chat!</div>  -->
			</div>
		</div>
		<div class="right-bottom">
			<div class="send-box">
				<textarea class="chat-input" id="chatInput"></textarea>
				<button class="record-btn">
					<img class="icon" src="/static/img/mic.png">
				</button>
				<button class="send-btn" id = "sendBtn">
					<img class="icon"src="/static/img/up.png">
				</button>	
			</div>
		</div>
	</div>
	<div class="start-page" id = "startPage">
		<div class = "header">
			<img class="header-icon" src="/static/img/icon.png">
			<strong>CharacterVox</strong>
		</div>
		<div class = "header-instruct">This is a rearch demo for CHI.</div>
		<div class = "header-instruct">Click the button below to create your own character!</div>
		<button class="header-btn" id="headerBtn">Create a new character</button>
	</div>
	<div id="modal" class="modal">
        <div class="modal-content">
			<div class = "modal-title">
				<button class="close-btn" id = "closeBtn"><strong>X</strong></button>
            	<h2><strong>Create Character<strong></h2>
			</div>
            <textarea class = "voice-input" id="textInput" placeholder="Input the description of your character's voice here..."></textarea>
            <div class = "modal-bottom">
				<button class = "generate-btn" id="createBtn">Create</button>
				<button class = "save-btn" id="saveBtn" disabled>Save</button>
				<div class = "generating" id="result"></div>
				<audio class = "generating" id="audioPlayer" controls style="display: none;"></audio>
			</div>
        </div>
    </div>
</body>
</html>

<script>
	let tone = [];
	let greeting = "Hi, nice to meet you!";
	let greetingAudio = "";
	const headerBtn = document.getElementById("headerBtn");
	const modal = document.getElementById("modal");
	const closeBtn = document.getElementById("closeBtn");
	const createBtn = document.getElementById("createBtn");
	const saveBtn = document.getElementById("saveBtn");
	const sendBtn = document.getElementById("sendBtn");
	const textInput = document.getElementById("textInput");
	const result = document.getElementById("result");
	const audioPlayer = document.getElementById("audioPlayer");

	function addCharacter() {
		modal.style.display = "block";
	}

	headerBtn.onclick = function() {
		modal.style.display = "block";
	}

	closeBtn.onclick = function() {
		modal.style.display = "none";
	}

	window.onclick = function(event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}

	createBtn.onclick = async function() {
		const text = textInput.value;
		if (!text) {
			alert("Please input text!");
			return;
		}

		result.textContent = "Generating...";
		createBtn.disabled = true;
		saveBtn.disabled = true;
		audioPlayer.style.display = "none";
		getGreeting(text)
			.then(function (responseData) {
				console.log(responseData);
				tone = responseData["tone"];
				greeting = responseData['text'];
				greetingAudio = "data:audio/ogg;base64," + responseData['audio'];
				audioPlayer.src = greetingAudio;
				audioPlayer.style.display = "block";
				//result.textContent = responseData['text'];
				result.textContent = "";
				createBtn.disabled = false;
				saveBtn.disabled = false;

			})
			.catch(function (error) {
				createBtn.disabled = false;
				reject(error); // 发生错误时调用 reject
			});
	}

	saveBtn.onclick = async function(){
		modal.style.display = "none";
		document.getElementById("startPage").style.display = "none";
		init(textInput.value, greeting);
		showResponseMessage(0, greeting, greetingAudio);
	}



	sendBtn.onclick = async function(){
		document.getElementById('chatInput').value = "";
		send(document.getElementById('chatInput').value, tone);
	}
</script>